<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoveQi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LoveQiWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LoveQi_Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A963A091E42398800B4F626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CE1BF61E2E2347003AE6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CE1C0F1E2E2347003AE6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CE1C1A1E2E2347003AE6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
